/** {*/
    /*border-left-color: white !important;*/
/*}*/
/**:after {*/
    /*content: none !important;*/
/*}*/

/**:before {*/
    /*content: none !important;*/
/*}*/

body {
    background: #f5eeee66;
}

.top-bar {
    border-top: 3px solid #F48024 !important;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,0.1) !important;
}

.no-pseudo-before:before {
    content: none !important;
}

.no-pseudo-after:after {
    content: none !important;
}

.remove-border-left {
    border-left-color: white !important;
}

.main.container {
	margin-top: 7em !important;
}

.weight-600 {
	font-weight: 600;
}

.bg-white {
    background: white;
}

.style-motto {
    font-size: 23px; 
    color: rgba(14, 151, 188, 0.9);
}

.mt-content {
    margin-top: 1.2em;
}

.mb-content {
    margin-bottom: 1.3em;
}

.profile-name {
    font-size: 26px;
    font-weight: 600;
}